body {
  background-image: url(https://cdn.discordapp.com/attachments/1105586333390475335/1112833616104394772/sa-mp-007.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  body {
    background-size: inherit;
  }
}




  #card {
    border-radius: 15px;
  }



  
/* .swal2-icon.swal2-info {
    border-color: rgb(0, 92, 123) !important;
    color: rgb(69, 205, 250) !important;
}
.swal2-popup {
    color: rgb(184, 176, 165) !important;
    background: rgb(14, 16, 17) !important;
    width: 400px !important;
    height: 350px !important;
} */

.swal2-confirm {
    background-color: #0d6efd !important;
}

  #card {
    border-radius: 15px;
  }



  
/* .swal2-icon.swal2-info {
    border-color: rgb(0, 92, 123) !important;
    color: rgb(69, 205, 250) !important;
}
.swal2-popup {
    color: rgb(184, 176, 165) !important;
    background: rgb(14, 16, 17) !important;
    width: 400px !important;
    height: 350px !important;
} */

.swal2-confirm {
    background-color: #0d6efd !important;
}