<link rel="stylesheet" href="/assets/custom/infopage.css">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>FAQ</h1>
  </div>
  
  <div class="row">
    <div class="category">
      <h2 class="category-title">Los Angeles RolePlay</h2>
      <p class="category-description">Jak wejść na serwer?</p>
      <div class="info-card">
        <p>Nasz serwer jest serwerem typu RolePlay, aby na niego wejść należy pobrać SAMP - znajdziecie go na sidebarze, po lewej stronie.
          <br>
          Poniżej znajduje się lista przydatnych informacji dotyczących serwera.
        </p>

        <i class="fas fa-info-circle info-icon"></i>
      </div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning" id="info-li">IP - <a href="samp://samp.la-rp.pl:7777">samp.la-rp.pl</a></li>
        <li class="list-group-item list-group-item-warning" id="info-li">SAMP - 0.3DL (patrz sidebar)</li>
        <li class="list-group-item list-group-item-warning" id="info-li">Kliknij w "joystick" z lewego górnego rogu strony!</li>
      </ul>
    </div>
    <div class="dropdown-divider"></div>
    <div class="category">
      <h2 class="category-title">Cache</h2>
      <p class="category-description">Moja strona się nie aktualizuje, co robić?</p>
      <div class="info-card">
        <p>Nie ma powodów do obaw - na naszej stronie został wprowadzony system cache, niektóre strony są nim objęte, aby odciążyć zapytania do bazy danych co skutecznie poprawi działanie UCP.
          <br>
          Poniżej znajduje się lista stron, które są objęte tym systemem.
        </p>

        <i class="fas fa-info-circle info-icon"></i>
      </div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning" id="info-li">Postacie - 15 sekund</li>
        <li class="list-group-item list-group-item-warning" id="info-li">Informacje o postaci, zakładka "zobacz" - 60 sekund</li>
        <li class="list-group-item list-group-item-warning" id="info-li">Strona główna, dashboard - 15 sekund</li>
      </ul>
    </div>
    <div class="dropdown-divider"></div>
    <div class="category">
      <h2 class="category-title">Błędy</h2>
      <p class="category-description">Znalazłem błąd, co robić?</p>
      <div class="info-card">
        <p>Błedy się zdarzają, staramy się je eliminować, ale człowiek nie jest bezbłędny - jeśli znajdziesz jakikolwiek błąd od razu zgłoś go do jednej z osób wymienionych poniżej, bądź jakiegokolwiek członka ekipy.
        </p>
        <i class="fas fa-info-circle info-icon"></i>
      </div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning" id="info-li">PEMoolson#0159  - Administrator Techniczny UCP.</li>
        <li class="list-group-item list-group-item-warning" id="info-li">friker#5714 - Właściciel</li>
        <li class="list-group-item list-group-item-warning" id="info-li">South Central#2463 - Właściciel  </li>
      </ul>
    </div>
    <div class="dropdown-divider"></div>
    <div class="category">
      <h2 class="category-title">Ustawienia konta</h2>
      <p class="category-description">Chciałbym zmienić hasło, co robić?</p>
      <div class="info-card">
        <p>Nasze UCP posiada szereg ustawień konta, które można dowolnie modyfikować. W tym celu należy podążać za poniższymi punktami:
        </p>
        <i class="fas fa-info-circle info-icon"></i>
      </div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning" id="info-li">1. Kliknij na swoją nazwę użtkownika w prawym górnym rogu</li>
        <li class="list-group-item list-group-item-warning" id="info-li">2. Wejdź w zakładkę ustawienia</li>
        <li class="list-group-item list-group-item-warning" id="info-li">3. Edytuj swoje konto!</li>
      </ul>
    </div>
    <div class="dropdown-divider"></div>
  </div>
  