<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Pytania Weryfikacyjne - Los Angeles RolePlay</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<style>
  body {
    background-image: url(https://cdn.discordapp.com/attachments/1105586333390475335/1112833616104394772/sa-mp-007.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>
</style>
</head>
<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Kategoria typu - <%=question.type%></h5>
            <form method="POST" action="/question">
                <input type="hidden" value="<%=question.id%>" name="questionid"/>
              <div class="form-group">
               <p><%=question.question%></p>
              </div>
              <select class="form-select" aria-label="Default select example" name="answer">
              <option value="1">Tak</option>
              <option value="0">Nie</option>
             </select>
             <br>
              <button type="submit" class="btn btn-primary">Wyślij</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>
