<link rel="stylesheet" href="/assets/custom/createcharacter.css">  
<style>
  #characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; 
    width: 50%; 
  }
  #characters .selected {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  #characters img {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: opacity 0.3s ease-in-out;
    max-height: 220px;
    max-width: 100px; 
  }

  @keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  #characters img {
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: both;
    opacity: 0;
  }


  .form-wrapper {
    display: flex;
    align-items: flex-start;
    width: 50%; 
  }

  .form-wrapper form {
    width: 100%; 
  }

  .input-full-width {
    width: 100% !important; 
    box-sizing: border-box;
  }

  .navigation-buttons {
    display: flex;
    justify-content: center;
    color: white;
  }

  .navigation-buttons button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;

  }
  .form-control {
    color: black !important;
  }
  </style>
</style>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1>POSTACIE</h1>
</div>

<div class="row">
  <div class="form-wrapper">
    <form method="post" action="/characters/create">
      <div class="mb-3">
        <label for="name" class="form-label">Imie</label>
        <input type="text" class="form-control input-full-width" id="name" aria-describedby="name" name="name">
        <div id="nameHelp" class="form-text">Nazwa powinna być zgodna z normami roleplay, nie zawierać obraźliwych słów.</div>
      </div>
      <div class="mb-3">
        <label for="surname" class="form-label">Nazwisko</label>
        <input type="text" class="form-control input-full-width" id="surname" name="surname">
        <div id="surnameHelp" class="form-text">Nazwa powinna być zgodna z normami roleplay, nie zawierać obraźliwych słów.</div>
      </div>
      <div class="mb-3">
        <label for="birth" class="form-label">Data urodzenia</label>
        <input type="date" class="form-control input-full-width" id="birth" name="birth">
        <div id="surnameHelp" class="form-text">Minimalny wiek postaci, to 16 lat.</div>
      </div>
      <div class="mb-3">
        <label for="origin" class="form-label">Pochodzenie</label>
        <input type="text" class="form-control input-full-width" id="origin" name="origin">
        <div id="surnameHelp" class="form-text">Nazwa kraju, z którego pochodzi postać</div>
      </div>
  
      <div class="mb-3">
        <label for="origin" class="form-label">Płeć</label>
        <select id="plec" class="form-control input-full-width" name="gender">
          <option value="brak">Wybierz płeć</option>
          <option value="male">Mężczyzna</option>
          <option value="female">Kobieta</option>
        </select>
        <div id="surnameHelp" class="form-text">Wybierz swoją płeć</div>
      </div>
      <input type="hidden" name="skin_input" id="skin-input">
      <button type="submit" class="btn btn-primary">Załóż postać</button>
    </form>
  </div>
  
  <div id="characters"></div>
  <div class="navigation-buttons">
    <button id="prev-button">&larr;</button>
    <button id="next-button">&rarr;</button>
  </div>
</div>


<script src="/assets/dashboard/createcharacter.js"></script>

<% if(req.session.error) { %>
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Wystąpił problem!',
      text: '<%=req.session.error.message%>',
      footer: 'Spróbuj ponownie!',
      confirmButtonText: "Zrozumiałem!"
    })
  </script> 
  <% delete req.session.error }%>
