<style>
    .card {
        background-color: rgb(43, 48, 53) !important;
         color: rgb(173, 181, 189);
    }
</style>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>Postacie Online</h1>
</div>

<div class="row" id="online-players"></div>

<script src="/assets/dashboard/online.js"></script>