<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <title>404 - Nie znaleziono strony.</title>
 <link rel="stylesheet" href="/assets/error/style.css">
  </head>
  <body>
    <h1>404</h1>
    <p>Oops! Nie znaleziono strony.</p>
    <h5>Strona, której szukasz nie istnieje, bądź została usunięta.</h6>
    <button onclick="window.history.back()">Powrót</button>
    <div id="messages"></div>
  <script src="/assets/error/script.js"></script>
  </body>
</html>
