body {
  font-size: .875rem;
}
body {
  background-color: rgb(33, 37, 41) !important;
  color: rgb(173, 181, 189);
}
header {
  background-color: rgb(33, 37, 41) !important;
}
table {
  color: rgb(173, 181, 189) !important;
}
@font-face {
  font-family: 'Myriad Pro';
  src: url('./MYRIADPROREGULAR.TTF') format('opentype');
}

* {
  font-family: 'Myriad Pro', Arial, sans-serif;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: rgb(43, 48, 53) !important;
  color: white !important; 
  /* nowe */
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  
  color: #333;
  color: white !important;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.border-left-primary {
    border-left: 0.25rem solid #4e73df!important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.dropdown-menu {
position: absolute !important;
top: 100% !important;
z-index: 1000;
right: 10px;
}
.navbar {
  background-color: #0d6efd !important;
}

.gamepad {
position: relative;
animation: pulse 1.2s infinite;
}

@keyframes pulse {
0% {
  transform: scale(0.8);
  opacity: 0.8;
}

50% {
  transform: scale(1);
  opacity: 1;
}

100% {
  transform: scale(0.8);
  opacity: 0.8;
}
}
.player-count {
position: relative;
top: -6px;
margin-left: 5px;
color: #ffffff;
font-size: 14px;
}

.download-button {
margin-left: 10px;
background-color: #007bff;
color: #ffffff;
border: none;
padding: 8px 12px;
border-radius: 4px;
font-size: 14px;
border-left: 0.25rem solid #3ee454;
}
h1 {
font-family: sans-serif;
font-size: 24px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.nav-item.forum {
border-left: 1px solid #00FF00; 
background-color: rgb(43, 48, 53); 
}

.nav-item.forum .nav-link {
position: relative;
}

.nav-item.forum .nav-link:before {
content: "";
position: absolute;
left: 0;
top: 0;
bottom: 0;
width: 4px;
background-color: #00FF00; 
}


/* .icon {
vertical-align: middle;
margin-right: 0.5rem;
} */
.nav-item {
  position: relative;
  display: inline-block;
}

.nav-item .icon {
  top: 50%;
  left: 0;
  transform: translateX(-50%);
  font-size: 20px;
  margin-left: 5px;
}
.nav-item span {
  margin-left: 0px !important;
}