.no-highlight .swal2-confirm {
    display: none;
  }

  .dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
}


@media (max-width: 767px) {
  #userinfoheader {
    display: none;
  }
}
 #swal2-html-container .form-control {
  color: black !important;
 }





  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination a, .pagination span {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 4px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
  }
  
  .pagination a:hover {
    background-color: #ddd;
  }
  
  .pagination .current-page {
    font-weight: bold;
    color: #fff;
    background-color: #333;
  }