body {
    color: rgb(173, 181, 189) !important;
  }
    .info-box {
      padding: 20px;
      border-radius: 10px;
      background-color: #f7f7f7;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .form-group {
      margin-bottom: 20px;
    }
    .card {
      border: none;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .info-box h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    .info-box i {
      font-size: 24px;
      margin-top: 20px;
      display: block;
    }
    /* User status icons */
    .info-box .status-icon {
      font-size: 40px;
      margin-bottom: 10px;
    }
    .info-box.success {
      border: 2px solid #5cb85c;
    }
    .info-box.danger {
      border: 2px solid #d9534f;
    }
    .info-box .card-body {
      padding: 0;
    }
    .card, input {
      background-color: rgb(43, 48, 53) !important;
    }
    input {
      color: white !important;
    }