<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Los Angeles RolePlay - UserControlPanel">
	<title> UCP - Los Angeles RolePlay</title>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="/assets/authorization/style.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<img src="https://i.imgur.com/4ODvLg9.png" alt="logo" width="100">
					</div>
					<div class="card shadow-lg" id="card">
						<div class="card-body p-5">
							<h1 class="fs-4 card-title fw-bold mb-4">Kod z aplikacji autoryzującej</h1>
							<form method="POST" action="/auth/google/login?id=<%=req.query.id%>" class="needs-validation" novalidate="" autocomplete="off">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="code">Kod</label>
									<input id="code" type="text" class="form-control" name="code" value="" maxlength="6" autofocus>
								</div>

			

								<div class="d-flex align-items-center">
									<!-- <div class="form-check">
										<input type="checkbox" name="logout_devices" id="logout" class="form-check-input">
										<label for="logout" class="form-check-label">Logout all devices</label>
									</div> -->
									<button type="submit" class="btn btn-primary ms-auto">
										Potwierdź
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="text-center mt-5 text-muted">
						Copyright &copy; 2023 &mdash; LA-RP 
					</div>
				</div>
			</div>
		</div>
	</section>

	<% if(req.session.error) { %>
		<script>
			Swal.fire({
		  icon: 'error',
		  title: 'Wystąpił problem!',
		  text: '<%=req.session.error.message%>',
		  footer: 'Spróbuj ponownie!',
		  confirmButtonText: "Zrozumiałem!"
		})
			  </script> 
			  <% delete req.session.error }%>
</body>
</html>
